@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;
   margin: 0%;
}

/********** HEADER ***********/
.header-inner{
    width: 100%;
    height: 80px;
 }
 .site-logo img{
    width: 230px;
    height: 19px;
    padding-left: 30px;
 }
 #menu-item-1139, #menu-item-1134{
   margin-left: 0px;
 }
 li.menu-item-1139 a{
   color: #ffffff !important;
    background-color: #DC9F96;
    width: 236px;
    margin-left: 0px;
 }
 li.menu-item-38{
   margin-left: 0px;
   
 }
 li.menu-item a{
    padding: 10px 25px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 li.menu-item a:hover {
    background-color: #C02E44 !important;
    text-decoration: none !important;
 }
 li.menu-item.current-menu-item a{
    text-decoration: none !important;
 }
/********** ACCUEIL ***********/

/********** NOUS RENCONTRER ***********/

#wpforms-953-field_2, #wpforms-953-field_3{
   height: 71px;
}
#wpforms-451-field_9{
   height: 237px;
}
.wpforms-submit-container {
   text-align: center;
   justify-content: center;
}
#wpforms-submit-451{
   width: 198px;
   height: 55px;
}

/********** COMMANDER ***********/
#wpforms-submit-610{
   display:none;
}
#wpforms-submit-613{
   display: none;
}
#wpforms-610-field_1, #wpforms-610-field_2, #wpforms-610-field_3, #wpforms-613-field_1, #wpforms-613-field_2, #wpforms-613-field_3 {
   width: 383px;
   height: 71px;
}

/********** FOOTER ***********/
#site-footer {
    padding: 20px;
   
    text-align: center;
    border:none;
 }
 
 #site-footer.header-footer-group{
    margin-top: 0px;
 }
