@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;
   margin: 0%;
}

/********** HEADER ***********/
.header-inner{
    /* width: 100%;
    height: 40px; */
 }
 .site-logo img{
    width: 230px;
    height: 19px;
    padding-left: 30px;
 }
 #menu-item-1139, #menu-item-1134{
   margin-left: 0px;
 }
 li.menu-item-1139 a{
   color: #ffffff !important;
    background-color: #DC9F96;
    width: 236px;
    margin-left: 0px;
 }
 li.menu-item-38{
   margin-left: 0px;
   
 }
 li.menu-item a{
    padding: 10px 25px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 li.menu-item a:hover {
    background-color: #C02E44 !important;
    text-decoration: none !important;
 }
 li.menu-item.current-menu-item a{
    text-decoration: none !important;
 }
/********** ACCUEIL ***********/

/********** NOUS RENCONTRER ***********/

#wpforms-953-field_2, #wpforms-953-field_3{
   height: 71px;

}
#wpforms-451-field_9{
   height: 237px;
}
.wpforms-submit-container {
   text-align: center;
   justify-content: center;
}
#wpforms-submit-451{
   width: 198px;
   height: 55px;
}
#wpforms-submit-953:hover{
background:#C02E44;
}
.wpcf7-text, .wpcf7-textarea, .wpcf7-select{
   padding: 10px;
}
.formItem{
   height: 71px;
margin: 20px;
}
.messageItem{
   height: 237px;
}
.envoyerItem{
   justify-content: center;
}
/********** COMMANDER ***********/

.form-container{
   width: 88%;
   margin:60px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}
.formn1{
   width: 45%;
   display: flex;
   flex-direction: column;
  margin-right: 30px;
}
.formn2{
   width: 45%;
   display: flex;
   flex-direction: column;
   margin-left: 30px;
}
.submit-commander{
margin-top: 20px;
margin-left: 330px;
}
#btn-commander{
   background:#DC9F96;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
   text-decoration: none
}
#btn-commander:hover{
background:#C02E44;
}
.form-example{
   padding: 15px;
   border-radius: 10px;
   
}
.labelform{
font-family: 'Syne';
font-weight: 700;
margin-bottom: 20px;
color: #ffffff;
}
.itemform{
   width: 383px;
   height: 71px;
   padding: 5px;
   border-radius: 10px;
   outline: none;
} 
/********** FOOTER ***********/
#site-footer {
    padding: 20px;
    text-align: center;
    border:none;
    cursor: pointer;
 }
 
 #site-footer.header-footer-group{
    margin-top: 0px;
 }

 @media (min-width: 701px) and (max-width: 1300px){
   .form-container{
      width: 100%;
      margin:0px;
   }
   .formn1{
      margin-left: 15px;
      margin-right: 15px;
   }
   .formn1{
      margin-left: 15px;
      margin-right: 15px;
   }
   .submit-commander{
      margin-left: 270px;
   }
 }

 @media (max-width: 700px) {
 .form-container{
      width: 100%;
      margin:0px;
   }
   .formn1{
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
   }
   .formn2{
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
   }
   .submit-commander{
      margin-left: 70px;
   }
   }
   @media (min-width: 1310px){
   .body{
   
   }

   }
 