@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;
   margin:0%;
   /* font-size: 20px; */
}
p {
   /* color: black; */
}
.entry-header{
display: none;

}
header{

}
/********** HEADER ***********/
.header-inner{
    width: 100%;
    height: 80px;
    
 }
 .site-logo img{
    width: 230px;
    height: 19px;
    padding-left: 30px;
 }

 li.menu-item-38 a{
   color: #ffffff !important;
    background-color: #DC9F96;
    width: 236px;
 }
 li.menu-item-38{
   margin-left: 0px;
 }
 li.menu-item a{
    padding: 10px 25px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 
 li.menu-item a:hover {
    background-color: #C02E44 !important;
    text-decoration: none !important;
 }
 li.menu-item.current-menu-item a{
    text-decoration: none !important;
 }
/********** ACCUEIL ***********/
.elementor-element.elementor-element-6da216a.e-con-full.e-flex.e-con.e-child{
width: 450px;
}
.elementor-element.elementor-element-9524605.e-flex.e-con-boxed.e-con.e-parent{
    padding: 0px;
}

.e-con-inner{
   padding-top: 0px;
}
.elementor-element.elementor-element-edit-mode.elementor-element-39c7e4c.e-con.e-parent.e-flex.e-con-full.e-con--row.elementor-element-editable{
padding-bottom: 0px;
}
/********** NOUS RENCONTRER ***********/

#wpforms-953-field_2, #wpforms-953-field_3{
   height: 71px;
}
#wpforms-451-field_9{
   height: 237px;
}

.wpforms-submit-container {
   text-align: center;
   justify-content: center;
}
#wpforms-submit-451{
   width: 198px;
   height: 55px;
}
/********** COMMANDER ***********/
.elementor-element .elementor-element-d6ee9c0 .e-con-full .e-flex .e-con .e-child{
   padding: 0px;
}
#wpforms-719-field_2-container{
   padding: 0px;
}
#wpforms-submit-719{
   display: none;
}
#wpforms-719{
   margin: 0px;
}
#wpforms-submit-610{
   display:none;
}
#wpforms-610-field_1, #wpforms-610-field_2, #wpforms-610-field_3, #wpforms-613-field_1, #wpforms-613-field_2, #wpforms-613-field_3 {
   width: 383px;
   height: 71px;
}
#wpforms-submit-613{
   display: none;
}

.elementor-element-9c4ef92{
   padding-bottom: 0px;
}
#wpforms-610, #wpforms-613{
margin-bottom: 0px;
}

.elementor-element .elementor-element-6accc65 .e-con-full .e-flex .e-con .e-child{
   padding-bottom: 0px;
}
.elementor-element .elementor-element-edit-mode .elementor-element-70c0039 .e-con .e-child .e-flex .e-con-full .e-con--column{
   padding: 0px;
   border: 1px solid black;
}
.elementor-element-5170d46{
   padding-top: 0px;

}
.elementor-element-f4ef798 {

   padding: 0px;
}
.elementor-element-5cf1c2b{
   padding-bottom: 0px;
}
.elementor-element-53e7250{
   padding: 0px;
}


.wpforms-submit-container{
   margin-top: 0px;
   padding-top: 0px;
}

/********** FOOTER ***********/
#site-footer {
    padding: 20px;
   
    text-align: center;
 }
 
 #site-footer.header-footer-group{
    margin-top: 0px;
 }
